<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.crud_ex.mapper.MemberIdentityMapper">

    <insert id="insert" parameterType="org.crud_ex.domain.MemberIdentityVO">
        INSERT INTO member_identity (member_identity_id,
                                     member_id,
                                     provider,
                                     provider_user_id,
                                     email_at_provider,
                                     created_at)
        VALUES (#{memberIdentityId},
                #{memberId},
                #{provider},
                #{providerUserId},
                #{emailAtProvider},
                NOW())
    </insert>

    <select id="findMemberByProviderAndUserId" resultType="org.crud_ex.domain.MemberVO">
        SELECT
            m.member_id,
            m.email,
            m.password_hash AS passwordHash,
            m.name,
            m.age,
            m.status
        FROM member_identity mi
                 JOIN member m ON m.member_id = mi.member_id
        WHERE mi.provider = #{provider}
          AND mi.provider_user_id = #{providerUserId}
            LIMIT 1
    </select>


</mapper>
